.educationalCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: unset;
  text-align: center;
  border-radius: 20px;
}

.educationalCard__header {
  height: 100%;
  display: flex;
}

.educationalCard__header img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.educationalCard__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.educationalCard__body_name {
  font-size: 1.5rem;
}

.educationalCard__body_degree,
.educationalCard__body span {
  font-size: 0.75rem;
}

.educationalCard__body span::first-letter {
  text-transform: uppercase;
}
