#navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem;
}

#navbar a {
  text-decoration: none;
  color: var(--text-dark-color);
  font-weight: bold;
  font-size: clamp(0.6rem, 1.5vw, 1.5rem);
  text-transform: uppercase;
  transition: transform 0.25s ease;
  outline: none;
}

#navbar a:hover,
#navbar a:focus {
  color: var(--text-color);
  cursor: pointer;
  transform: translateY(-2px);
}
