#image {
  min-height: 250px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__green,
.image__margenta,
.image__image {
  position: absolute;
  display: block;
  justify-self: center;
}

.image__green,
.image__margenta,
.image__image img {
  transition: transform 0.2s ease-in-out;
}

.image__green:hover,
.image__margenta:hover,
.image__image img:hover {
  transform: scale(1.05);
}

.image__green {
  background-color: var(--primary-color);
  border-radius: 10px;
  rotate: -30deg;
  height: 300px;
  width: 300px;
  bottom: 15%;
  right: clamp(150px, 5vw, 300px);
  left: 0px;
  z-index: 1;
  animation: greenSpanAnimation 15s ease-in-out infinite;
}

.image__image {
  z-index: 2;
  animation: imageAnimation 15s ease-in-out infinite;
}

.image__image img {
  background-color: var(--tertiary-color);
  border-radius: 20%;
  width: 300px;
}

.image__margenta {
  background-color: var(--secondary-color);
  border-radius: 20px;
  height: 275px;
  width: 275px;
  right: 0px;
  left: clamp(150px, 10vw, 300px);
  top: 15%;
  rotate: 5deg;
  z-index: 1;
  animation: margentaSpanAnimation 20s ease-in-out infinite;
}

@media (max-width: 800px) {
  .image__green {
    height: 175px;
    width: 175px;
    bottom: 25%;
  }
  .image__image img {
    width: 150px;
  }
  .image__margenta {
    height: 175px;
    width: 175px;
    top: 20%;
    /* right: 30px; */
  }
}

@keyframes greenSpanAnimation {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 10deg;
  }
  75% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes margentaSpanAnimation {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -15deg;
  }
  75% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes imageAnimation {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(2px, -10px);
  }
  80% {
    transform: translate(1px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
