.professionalCard {
  background-color: var(--primary-color);
  display: grid;
  border-radius: 10px;
}

.professionalCard__header {
  width: 100%;
  height: 100%;
}

.professionalCard__descriptions {
  padding: 1rem 2rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.professionalCard__descriptions__icon {
  background-color: var(--primary-light-color);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
}

.professionalCard__descriptions__icon i {
  display: flex;
}

.professionalCard__descriptions__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.professionalCard__descriptions__buttons span {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  display: block;
  cursor: pointer;
}

.professionalCard__descriptions__buttons span:hover {
  background-color: var(--tertiary-lighter-color);
}

.professionalCard__descriptions__button_active {
  background-color: var(--tertiary-color);
}

.professionalCard__descriptions__button_deactive {
  background-color: var(--primary-light-color);
}

@media (min-width: 700px) {
  .professionalCard {
    grid-template-columns: min-content 1fr;
    width: 600px;
    height: 200px;
  }
  .professionalCard__descriptions__icon {
    align-self: center;
    left: -20px;
  }
  .professionalCard__header img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  .professionalCard__header img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
  .professionalCard {
    grid-template-rows: min-content 1fr;
    width: 300px;
  }
  .professionalCard__descriptions__icon {
    justify-self: center;
    top: -25px;
  }
}
