#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 2;
  display: flex;
  gap: 1rem;
}

.content__links {
  display: flex;
  justify-content: end;
  gap: 2rem;
  font-size: clamp(2rem, 3vw, 3rem);
}

.content__links a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.25s ease;
}

.content__links a:hover,
.content__links a:focus {
  color: var(--text-gray-color);
  transform: translateY(-2px);
}

.content__header h2 {
  font-size: clamp(3rem, 4vw, 6rem);
  color: var(--primary-color);
  text-align: end;
}

.content__header h3 {
  font-size: clamp(2rem, 2vw, 3rem);
  color: var(--tertiary-color);
  text-align: end;
}

@media (max-width: 1000px) {
  .content__text {
    display: none;
  }
}

@media (max-width: 800px) {
  .content__links {
    justify-content: space-between;
    padding: 0rem clamp(2rem, 10vw, 5rem);
  }

  .content__header h2,
  .content__header h3 {
    text-align: center;
  }
}
