#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 2;
  display: flex;
  gap: 1rem;
}

.content__links {
  padding: 1rem 4rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  font-size: clamp(2rem, 3vw, 3rem);
}

.content__links a {
  outline: none;
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.25s ease;
}

.content__links a:hover,
.content__links a:focus {
  color: var(--text-gray-color);
  transform: translateY(-2px);
}

.content__header {
  padding: 0rem 4rem;
}

.content__header h2 {
  font-size: clamp(3rem, 6vw, 6rem);
  color: var(--primary-color);
}

.content__header h3 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--tertiary-color);
}

@media (max-width: 1000px) {
  .content__text {
    display: none;
  }
}
