.jobdescription {
  display: grid;
  grid-template-rows: min-content 1fr;
  align-items: center;
  gap: 1rem;
  animation: slide 0.2s ease-in;
}

.jobdescription__position {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-white-color);
}

.jobdescription__position_role {
  font-weight: 700;
  font-size: 0.8rem;
}

.jobdescription__position_date {
  font-size: 0.75rem;
  font-weight: 600;
}

.jobdescription__achievements {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  text-align: justify;
  list-style: none;
  font-size: small;
  font-size: 0.75rem;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
