:root {
  --primary-color: #124536;
  --primary-light-color: #1e735a;
  --primary-lighter-color: #2a8f71;
  --secondary-color: #a8336f;
  --secondary-light-color: #c32878;
  --secondary-lighter-color: #e55da3;
  --tertiary-color: #ef7c0f;
  --tertiary-light-color: #fa912f;
  --tertiary-lighter-color: #ffa653;
  --text-dark-color: #101010;
  --text-color: #414141;
  --text-gray-color: #828282;
  --text-white-color: #ffffff;
  --polygon-color: #e0e0e0;
  --polygon-dark-color: #a0a0a0;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
}
